
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212; 
    color: #ffffff; 
}
h1{
    text-align: center;
    font-size: 100px;
}

h2 {
    text-align: center;
}



nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #ff5722; 
    padding: 10px 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}


.logo img {
    height: 70px; 
}


.menu {
    display: flex; 
    gap: 15px; 
}


.menuItem {
    color: #ffffff; 
    text-decoration: none; 
    font-size: 18px; 
    padding: 5px 10px; 
    transition: background-color 0.3s, color 0.3s; 
}


.menuItem:hover {
    background-color: #ff5722; 
    color: #ffffff; 
    border-radius: 5px; 
}



.floating-text {
    position: absolute;
    top: 80px; 
    left: -100%; 
    white-space: nowrap; 
    font-size: 24px;
    font-weight: bold;
    color: #ff5722; 
    text-shadow: 1px 1px 10px #000;
    animation: floatText 10s linear infinite; 
}


.neon {
    color: #ff5722; 
    text-align: center;
    text-shadow: 0 0 20px #ff5722, 0 0 30px #ff5722, 0 0 40px #ff5722;
}


.slideshow-container {
    position: relative; 
    width: 100%; 
    margin: 20px 0; 
    border: 5px solid #ff5722;
    border-radius: 10px; 
    overflow: hidden; 
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}


.mot {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 87, 34, 0.2); 
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
}

#motivacija {
    font-size: 18px;
}



footer {
    background-color: #1a1a1a; 
    color: #ffffff; 
    text-align: center;
    padding: 20px 0; 
    position: relative; 
    bottom: 0;
    width: 100%; 
}

.contact-info {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.contact-info a {
    color: #ff5722; 
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s; 
}

.contact-info a:hover {
    color: #ffcc80; 
}

@keyframes floatText {
    0% {
        left: -100%; 
    }
    50% {
        left: 100%; 
    }
    100% {
        left: -100%; 
    }
}